{% extends 'base.html' %}
{% block content %}
{% load tz %}

{% if messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {% for message in messages %}
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {% endfor %}
</div>
{% endif %}

<div class="row my-1">
    <div class="card" style="min-width: 100%; background-color: #3399ff;">
        <div class="card-header text-center">
          <h2 style="font-family: 'Indie Flower', cursive;"">All quotes by '{{ profile.username }}'</h2>
        </div>
      </div>

    {% for quote in quotes %}
    <div class=" card" style="min-width: 100%; opacity: 0.9;">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{ quote.quote }}</p>
                <p class="card-text">
                    {% localtime on %}
                    {{ quote.pub_date|date:" M d, Y" }}
                    {% endlocaltime %}
                </p>

                <p class="card-text">
                    <h6 style="display:inline">Tags:</h6>
                    {% for categories in quote.categories.all %}
                    <span class="badge badge-secondary">{{ categories }}</span>

                    {% endfor %}



        </div>
    </div>
    {% endfor %}


</div>
{% endblock %}